
.Carditem {
    width: 150px;
    height: auto; 
    margin: 8px 8px 8px 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.Carditem:hover {
    transform: scale(1.05);
}

.Header {
    text-align: center;
    padding: 8px;
    background-color: #f8f8f8;
}

.itemheader {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.Itemimg {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.Info,
.stock {
    font-size: 0.8rem;
    margin: 4px;
    color: #555;
    text-align: center; 
}

.Itemfooter {
    margin-top: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.Option {
    background-color: #007BFF;
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 8px; 
}